:root{
  --yellow-color: #ffb900;
  --blue-color: #00a4ef;
  --success-color: #7fba00;
  --error-color: #f25022;
}

html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}